html {
    background-image: url("/matematicasFULL.jpg");
}


.h1 {
    margin: auto;
    background-color: #8aa4f1;
    border-radius: 5px;
    padding: 10px;
    width: 280px;
    text-align:  center;
    color: rgb(32, 32, 48);
    
}


.container {
    margin: auto;
    background-color: #8aa4f1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 280px;
    }

.calculadora {
    font-family: Arial, Helvetica, sans-serif;
    font-style:inherit;
    color: rgb(18, 20, 20);
    }